<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enter Chatroom</title>

<style media="screen">
  body {
    -ms-flex-align: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  th, td {
  padding: 15px;
}


</style>

  </head>
  <body>

    <center>
      <h1>Enter ChatRoom</h1>
      </center>

        <form action="/" method="POST">
          <center>
            <table>
              <tr>
                <th>
                  Username: <input type="text" name="name" id="name"><br>
                </th>
              </tr>

              <tr>
                <th>
                  Roomname: <input type="text" name="room" id="room"><br>
                </th>
              </tr>

            </table>
               <input type="submit" value="ENTER ROOM">
            </center>
       </form>
  </body>
</html>
